In [1]:
import pandas as pd
from pandas import read_csv
import numpy as np
filename = 'sales.csv'
data = read_csv(filename)
data.head()

   sales_in_first_month  sales_in_second_month  sales_in_third_month
0                   100                    200                   400
1                   200                    250                   375
2                    50                    100                   350
3                    30                     48                    76
4                   500                    350                   250

In [2]:
data.isnull().sum()

sales_in_first_month     0
sales_in_second_month    0
sales_in_third_month     0
dtype: int64

In [3]:
numeric_data = data.select_dtypes(include=[np.number])

numeric_data.mean()

sales_in_first_month     155.000000
sales_in_second_month    163.000000
sales_in_third_month     245.166667
dtype: float64

In [4]:
data['sales_in_first_month'].fillna(data['sales_in_first_month'].mean(), inplace=True)
data.head()

   sales_in_first_month  sales_in_second_month  sales_in_third_month
0                   100                    200                   400
1                   200                    250                   375
2                    50                    100                   350
3                    30                     48                    76
4                   500                    350                   250

In [5]:
X = data.iloc[:, :2]
y = data.iloc[:, -1]

In [6]:
X.head()

   sales_in_first_month  sales_in_second_month
0                   100                    200
1                   200                    250
2                    50                    100
3                    30                     48
4                   500                    350

In [7]:
y.head()

0    400
1    375
2    350
3     76
4    250
Name: sales_in_third_month, dtype: int64

In [8]:
# Conctatenate
df = pd.concat([X,y], axis=1)
df.head()

   sales_in_first_month  sales_in_second_month  sales_in_third_month
0                   100                    200                   400
1                   200                    250                   375
2                    50                    100                   350
3                    30                     48                    76
4                   500                    350                   250

In [9]:
df.dtypes

sales_in_first_month     int64
sales_in_second_month    int64
sales_in_third_month     int64
dtype: object

In [11]:
df.to_csv('clean_sales.csv')

In [12]:
from sklearn.linear_model import LinearRegression
clf = LinearRegression()
clf.fit(X, y)
clf.score(X, y)

0.8562321646527389

In [13]:
import pickle
pickle.dump(clf, open('model.pkl', 'wb'))

In [15]:
model = pickle.load(open('model.pkl', 'rb'))
print(model.predict([[300, 500]]))

[921.70593929]

C:\Users\Flex5\anaconda3\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(